

#home {
    background-image: url("./img/SITEPrancheta\ 1.png"); // Caminho da sua imagem de fundo
    background-size: cover; // Faz a imagem cobrir toda a section
    background-position: center; // Centraliza a imagem
    background-repeat: no-repeat; // Evita repetição da imagem
    height: 100vh; // Define a altura da section para 100% da viewport

    // Estilização adicional para garantir legibilidade
    .font-nav {
        font-size: 12px;
        color: #eee8df;
    }


    img {
        @media (min-width: 768px) {
            max-width: 60%;
        }
        @media (max-width: 768px) {
            margin-top: 25%;
            z-index: 9999;
        }
    }
}
