$cor-principal-dourado: #8b7758;
$cor-secundaria-cinza: #828282;
$cor-principal-rose: #f3eee5;
#home {
    background-image: url("./img/SITEPrancheta\ 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    .font-nav {
        font-size: 11px;
        color: #eee8df;
        font-weight: bold;
    }

    img {
        @media (min-width: 768px) {
            max-width: 60%;
        }
        @media (max-width: 768px) {
            margin-top: 25%;
            z-index: 9999;
        }
    }
}

#sobre {
    .config-sobre {
        display: flex;
    }
    .perfil-sobre {
        max-width: 90%;
        display: flex;
        align-items: center;
        margin-top: 20%;
        background-color: transparent; // Fundo transparente
        text-align: center; // Centraliza o conteúdo, se necessário
        .perfil {
            width: 70%;
        }
        > h6 {
            color: $cor-principal-dourado;
            font-weight: bold;
        }
        .setas {
            width: 40px;
        }
    }
    .descricao-profissional {
        margin-top: 5%;
        margin-bottom: 15%;
        max-width: 70%;
        > h6 {
            color: $cor-principal-dourado;
            font-weight: bold;
        }
        > p {
            font-size: 10px;
            font-weight: bold;
            color: $cor-secundaria-cinza;
        }
    }
    .texto-sobre {
        max-width: 90%;
        padding-left: 20%;
        text-align: right;
        > h6 {
            color: $cor-principal-dourado;
        }
        > p {
            font-size: 10px;
            font-weight: bold;
            color: $cor-secundaria-cinza;
        }
    }
}

#servicos {
    // height: 100vh;
    background-color: $cor-principal-rose;
    background-image: url("./img/SITEPrancheta\ 2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #ffffff;
    p {
        font-size: 13px;
        font-weight: bold;
    }
    .descricao-servico {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15%;
        p {
            max-width: 60%;
        }
    }
    img {
        @media (min-width: 768px) {
            max-width: 80%;
        }
        @media (max-width: 768px) {
            margin-top: 25%;
            z-index: 9999;
        }
    }
}

#depoimentos {
    color: #886f40;
    background-color: $cor-principal-rose;
    p {
        color: #828282;
        font-weight: bold;
    }
    .texto-depoimentos {
        display: flex;
        padding: 5%;
        .setas {
            width: 40px;
        }
    }
}

#dados {
    color: $cor-secundaria-cinza;
    p{
        font-weight: bold;
    }
    h4 {
        color: $cor-principal-dourado;
    }
    .texto-dados{
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
    }
    .dados-info{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5%;
        
    }
    .dado-numerico{
        font-size: 36px;
    }
    .linha-dado{
        background-color: $cor-principal-dourado; height: 2px; border: 0; 
    }
}

#redes-sociais{
    background-image: url("./img/SITEPrancheta\ 3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    .info-redes{
        width: 100%;
        
    }
    img{
        @media (min-width: 768px) {
            max-width: 30%;
        }
        @media (max-width: 768px) {
            margin-top: 25%;
            z-index: 9999;
        }
    }
}